<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Dao.ItripHotelTempStoreMapper">
    <select id="getItripHotelTempStores" resultType="ItripHotelTempStore">
        	select *
            from
                (select store.roomId,store.recordDate,store.store-
                (
                    CASE
                    WHEN sum(ord.count) is null THEN
                    0
                    ELSE
                    sum(ord.count)
                    end
                ) as store
                from itrip_hotel_temp_store as store
                left join itrip_hotel_order as ord
                on store.roomId = ord.roomId and ord.orderStatus=0
                and  DATE_FORMAT(store.recordDate,'%Y-%m-%d') between DATE_FORMAT(ord.checkInDate,'%Y-%m-%d') and DATE_FORMAT(ord.checkOutDate,'%Y-%m-%d')
                where store.roomId=#{roomId}
                group by store.roomId,store.recordDate) as A
            where A.recordDate between DATE_FORMAT(#{checkInDate},'%Y-%m-%d') and DATE_FORMAT(#{checkOutDate},'%Y-%m-%d')
            ORDER BY A.store asc
    </select>

    <update id="flushStore" statementType="CALLABLE">
        {
            call pre_flush_store(
                #{checkInDate,jdbcType=DATE,mode=IN},
                #{checkOutDate,jdbcType=DATE,mode=IN},
                #{roomId,jdbcType=BIGINT,mode=IN},
                #{hotelId,jdbcType=BIGINT,mode=IN}
            )
        }
    </update>
</mapper>